<h1> - ALL EVENTS - </h1>


<div id="move_create"><%= link_to("Create Event", "/events/new", {:style => 'color: #0052A5'}) %></div>
	<div id="move">
		<% @events.each do |event| %>
	<div>

<div id = "space">
	<h3><b><%= event.city%>, <%= event.state%> <%=event.zip%></b></h3>
<div id="shift"><h3 id ="title"><%= event.title %></h3>
	<h4><b><i>Description:</b></i> <%= event.description%></h4>
	<h4><b><i>Date of Event:</b></i> <%= event.time_date %></h4>
</div>

<div id ="photo"><%= image_tag event.avatar(:medium) %></div>



 <h5 id="show"><%= link_to("Show", event_path(event), {:style => 'color: #0052A5'}) %></h5>
 <h5 id="cancel"><%= link_to("Cancel Event", event_path(event), method: :delete) %></h5>
 </div>

<% end %>
</div>

<%= form_tag(events_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Events" %>
<%= submit_tag "Search" %>
<% end %>