<h1> ALL EVENTS in <span class="last-word"><%=(params[:search])%></span></h1>

<div id="location-container">
  <div id="geolocation"></div>
</div>

	<div id="move">
		<% @events.each do |event| %>
	<div>

<div id = "space">
	<h3><b><%= event.city%>, <%= event.state%> <%=event.zip%></b></h3>
<div id="shift"><h3 id ="title"><%= event.title %></h3>
	<h4>Description: <%= event.description%></h4>
	<h4>Date of Event: <%= event.time_date %></h4>
</div>



 <h5 id="show"><%= link_to("Show", event_path(event), {:style => 'color: #0052A5'}) %></h5>
 <h5 id="cancel"><%= link_to("Cancel Event", event_path(event), method: :delete) %></h5>
 </div>

<% end %>
</div>
