<h1>Events near <%=@profile.city %>!</h1>

<% @events.each do |event| %>

<%= event.description %>

<% end %>

<%= link_to("Add Event", "/events/new") %>

 <%= link_to("Edit Event!", edit_event_path(@event)) %>
<p>
 <%= link_to("All Events!", "/events/") %>
</p>
