<% @events.each do |event| %>

<h1><%= @event.address1 %>
<h1><%= @event.city%>, <%= @event.state%> <%=@event.zip%></h1>
<h1>Date of Event:</h1><%= @event.time_date %>
<h1>Title: <%= @event.title %></h1>
<h1>Description: <%= @event.description%></h1>


